@import '3L.less';

@box_height: 300px;
@box_width: 700px;
@box_width_inverse: @box_width/-1;
@slide_duration: 1000ms;

* {
  font-family: monospace;
}

#title {
  text-align: center;
  margin-top: 5em;
}

#subtitle {
  text-align: center;
  margin-top: 2em;
}

#zone {
  height: @box_height;
  width: @box_width;
  margin:auto;
  margin-top:3em;
  position: relative;
  border: 1px dashed black;
  overflow: hidden;
}

.hidden {
  display: none;
}

.button {
  cursor: pointer;
}

.millieu{
   
    height: 100%;
    top: 0px;
    
    bottom: 0px;
    position: absolute;
    
    line-height: @box_height;
    text-align: center;
}

#first-step {
  position: absolute;
  //top: 0px;
  //left: 0px;
  right: 0px;
  //bottom: 0px;
  width:100%;
  height:100%;
  div {
    .millieu; 
    width: 50%;
  }
  .left{
    border-right: 1px dashed black;
    left: 0px;
  }
  .right{
    right: 0px;
  }
  .transition(right @slide_duration ease);
}

#second-step{
  position: absolute;
  width:100%;
  height:100%;
  right: @box_width_inverse;
  
  .decode{
    .input{
      text-align: center;
      margin-top: 90px;
    }
  }
  .encode{
    .input{
      .millieu;   
      width: 50%;
      .description{
	position: absolute;
	line-height: initial;
	//top: -140px;
	width: 100%;
	pointer-events: none;
      }
      .description2{
	position: absolute;
	bottom: 38%;
	width: 100%;
	pointer-events: none;
	line-height: initial;
      }
      textarea{
	vertical-align: middle;
	width: 90%;
	height: 70%;
      }
      .textsize{
	line-height:initial;
	bottom: 24px;
	position: absolute;
	right: 14px;
      }
    }
  }
  
  .input{

  }
  
  .left{
    .transition(background-color 300ms ease);
    left: 0px;
  }
  
  .right{
    .transition(background-color 300ms ease);
    border-left: 1px dashed black;
    right: 0px;
  }
  
  .transition(right @slide_duration ease);
}

#third-step{
  position: absolute;
  width:100%;
  height:100%;
  right: @box_width_inverse;
  
  
  .transition(right @slide_duration ease);
  
  .encode{
    .option{
      position:relative;
      margin-left: 5px;
      margin-right: 5px;
      height:25px;
      *{
	position:absolute;
      }
      .first{
	height:100%;
	width:70px;
	left:0px;
	line-height: 180%;
	text-align: center;
      }
      .second{
	height:100%;
	width:70px;
	right:0px;
	line-height: 180%;
	text-align: center;
      }
      input{
	height:100%;
	left:70px;
	right:70px;
      }
      
    }
    
    .option2 {
      position:relative;
      margin-left: 5px;
      margin-right: 5px;
      *{
	position:absolute;
      }
      label{
	left: 85px;
	input{
	  left:-15px;
	}
      }
    }
  }
}

#fourth-step{
  position: absolute;
  width:100%;
  height:100%;
  right: @box_width_inverse;
  
  
  .transition(right @slide_duration ease);
}

.prev{
  position: absolute;
  bottom: 3px;
  left: 3px;
  .button;
}

.next{
  position: absolute;
  bottom: 3px;
  right: 3px;
  .button;
}

.encode, .decode {
  display: none;
}

.description{
  text-align:center;
  margin:0.5em;

}

#wait{
  pointer-events: none;
  width: 100%;
  .millieu;
  opacity:0;
  .transition(opacity 400ms linear);
}

